<!DOCTYPE HTML>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Kevin Ngetich | {% block title %}{% endblock %}</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/boostrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/boostrap.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/boostrap.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">

</head>
<body>
    <script src="{% static './js/boostrap.js' %}"></script>
    <script src="{% static './js/boostrap.min.js' %}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <div class="container-fluid">
        <nav class="navbar navbar-default bg-dark navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Converse </a>
            </div>
            <div class="collapse navbar-collapse" id=#navigation>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="nav-link" href="{% url 'article:feed' %}">Feed</a>
                    </li>

                    <li class="">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="#">
                    <div class="form-group">
                        <input class="form-control mr-sm-2" type="text" name="q" value="" placeholder="Search">
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                <ul class="nav navbar-nav">
                    <li class="">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li class="">
                        <a class="nav-link" href="#">
                            Logout&nbsp;
                            <span class="glyphicon glyphicon-off"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 70px;">
            <div class="col-lg-3">
                <div class="card card-default">
                    <div class="card-body">
                      <h3 class="card-title"> People </h3>
                        <hr>
                      <p class="card-text"> Kevin Ng'etich </p>
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
            <div class="col-lg-3">
                <div class="card card-default">
                    <div class="card-body">
                      <h3 class="card-title"> Tags </h3>
                        <hr>
                      <p class="card-text"> #internetofthings </p>
                      <p class="card-text"> #artificial intelligence </p>
                      <p class="card-text"> #python </p>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                      <h3 class="card-title"> Featured </h3>
                        <hr>
                      <p class="card-text"> Something About Semicolons </p>
                      <p class="card-text"> Django vs Laravel </p>
                      <p class="card-text"> My Python Journey </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.col-lg-6').hover(
                function(){
                    $(this).animate({
                        marginTop: "-=1%",
                     },200);
                },

                function(){
                    $(this).animate({
                        marginTop: "0%",
                     },200};
                }
            );
        });
    </script>
</body>
</html>